<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Reddit.js</span>
    <li><a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a></li>
  </div>
</nav>
<h1>Reddit.js</h1>